DB_HOST=localhost
DB_PORT=5432
DB_NAME=photo_service_db
DB_USER=postgres
DB_PASSWORD=postgres

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=test_photo_service_db
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres

SECRET_KEY=D3V25NEx_jyXgdAFbZQS6It6wZD8w-OkUWtGGw8f1E0
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=360

SERVER_DOMAIN=http://127.0.0.1
SERVER_PORT=8000

UPLOADED_DIR=uploaded_images

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest